<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Additional sites for Collage enthusiasts</h5>

                <ul class="list-unstyled">
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.befunky.com/features/collage-maker/">Option 1</a>
                    </li>
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.fotojet.com/">Option 2</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Useful Links</h5>

                <ul class="list-unstyled">
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.youtube.com/watch?v=bE2H5iqIPrk">Video 1</a>
                    </li>
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.youtube.com/watch?v=cdG2d46fPh8">Video 2</a>
                    </li>
                    <li class="footer-items">
                        <a class="hyperlink" href="https://www.youtube.com/c/4KUltraHDAmazingSlideshows/videos">Recommended channel</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <hr>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->