
<!-----------------------
           Sorry view
     ------------------------>
<body class="helpColor">
<div class="container">
    <div>
        <h1 class="big-title">There are no old or new collage items at this moment</h1>
        <hr class="spaceBar">
        <h3 class="normal-text">Unfortunately we only have the items on the start page. They have been selected by our esteemed partners
        and are said to be the perfect items for your collection at this time. There are no old or new items, only items that are balanced and in the present,
        as we all should be. Be present, is the only moment that matters.</h3>
        <br>
        <br>
        <h3 class="normal-text">Return to the home page here: <a class="hyperlink" href="#" onclick="myReturn()">The Collage items</a></h3>
        <br>
        <br>
        <ul class="normal-text">
            <li>Proin sed tortor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aenean pulvinar mauris at neque facilisis, at blandit sem laoreet.</li>
            <li>Aliquam erat volutpat. Praesent dapibus lacus in efficitur facilisis.</li>
            <li>Fusce quis porttitor libero, in vestibulum nisi.</li>
            <li>Donec libero risus, malesuada in aliquet vel, finibus non ante.</li>
        </ul>
        <hr class="spaceProfile">
    </div>
</div>
<hr class="finalHR">
</body>

<script>

    function myReturn() {
        setTimeout(function (){
            location.replace("/");
        }, 3000);
    }

</script>