
<!-----------------------
           Time view
     ------------------------>
<body id="timeChange">
<div class="container">
    <div>
        <h1 class="big-title">Find more inspiration, in your own time and pace</h1>
        <hr class="spaceProfile">
    </div>
    <div id="timeCenter">
        <h2 id="clockMain"></h2>
    </div>
    <div id="refreshTime">
        <p class="normal-text">Have you been here a long time? <a href="/main/time" class="hyperlink">Refresh!</a></p>
    </div>
    <div class="slideshow-container2">

        <div class="mySlides fade2">
            <div class="numbertext2">1 / 5</div>
            <img src="../images/memory6.png" style="width:100%">
            <div class="text2">The Big Time</div>
        </div>

        <div class="mySlides fade2">
            <div class="numbertext2">2 / 5</div>
            <img src="../images/memory7.png" style="width:100%">
            <div class="text2">The Small Time</div>
        </div>

        <div class="mySlides fade2">
            <div class="numbertext2">3 / 5</div>
            <img src="../images/memory8.png" style="width:100%">
            <div class="text2">The Waves and Time</div>
        </div>

        <div class="mySlides fade2">
            <div class="numbertext2">4 / 5</div>
            <img src="../images/memory9.png" style="width:100%">
            <div class="text2">The Calm Woods</div>
        </div>

        <div class="mySlides fade2">
            <div class="numbertext2">5 / 5</div>
            <img src="../images/memory10.png" style="width:100%">
            <div class="text2">The Lost Ship</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot2" onclick="currentSlide(1)"></span>
        <span class="dot2" onclick="currentSlide(2)"></span>
        <span class="dot2" onclick="currentSlide(3)"></span>
        <span class="dot2" onclick="currentSlide(4)"></span>
        <span class="dot2" onclick="currentSlide(5)"></span>
    </div>

</div>
<hr class="finalHR">
</body>

<script>

    setInterval(myTimer, 1000);

    function myTimer() {
        const date = new Date();
        document.getElementById("clockMain").innerHTML = date.toLocaleTimeString();
    }

    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot2");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

</script>
